HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/logs/archived
!**/src/main/**/build/
!**/src/test/**/build/

volumes/

.vscode/
/logs/spring-boot-logger.log

src/main/resources/application-van.yml
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/image-cloud-98533-firebase-adminsdk-egb09-95daffa97d.json
src/main/resources/bonik-f7b39-firebase-adminsdk-74rcu-82b22fbb2e.json
src/main/resources/application-long.yml
src/main/resources/application-prod.yml